*
{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.Card {
    width: 400px;
    height: 450px;
    margin: 100px;
    justify-content: center;;
    margin-top: 20px;
    margin-bottom: 20px;
    
  
}
.desc{
    padding: 10px;
}

.cards{
    background-color: #3b1b47;
    width: 450px;
    height: 600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  color: white;

}
.link{
    margin-top: 10px;
    color: white;
    background-color:  #694577;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
