ul{
    display: flex;
    justify-content: space-between;
    background-color: #694577;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    height: 80px;
    text-align: center;
    font-family: 'Koulen', cursive;
}
a{
    text-decoration: none;
    color: black;
}
li{
    font-size: 30px;
    margin: 20px;
    text-align: center;
 
}
.Cart{
    height: 40px;
    width: 40px;
    justify-content: center;
    margin-right: 60px;
}

.miheader{
    background-color: #3b1b47;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    color: white;
    height: 180px;
    margin-top: 0px;
    
    
}
body{
    background-color:#a26faf;
}
 .titulo{
    margin: 15px;
 }
 .navbar ul ul{
    display: none;
    position: absolute;
    list-style-type:none;
    text-decoration: none;
    background-color: #694577;
}

.navbar ul li:hover{
    padding: 15px;
    text-align: left;
    background-color: #694577;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #694577;
    padding: 0.3rem;
    font-size: 30px;
    margin: 5px;
    position: relative;

}

.navbar ul li:hover > ul{
display: block;
background-color: #694577;
}