ul{
    display: flex;
    justify-content: space-between;
    background-color: #694577;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    height: 80px;
    text-align: center;
    font-family: 'Koulen', cursive;
}
li{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
.Cart{
    height: 40px;
    width: 40px;
    justify-content: center;
    margin-right: 60px;
}

.miheader{
    background-color: #3b1b47;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    color: white;
    height: 180px;
    margin-top: 0px;
    
    
}
body{
    background-color:#a26faf;
}